.chalet{
.contents{
  .pic{
    position:relative;
    width: 1920px;
    height: 403px;
    border: 1px #000 solid;
    background-color: rgba(0, 0, 0, .3);
    span{
      position: absolute;
      top:233px;
      left:100px;
      width: 514px;
      height: 100px;
      color:@header;
      display: block;
    }
  }
  .listwrap{
    position: relative;
    width:1720px;
    height:1279px;
    margin: 0 auto;
    li{
      position:relative;
      width: 1720px;
      height:324px;
      padding: 50px 0;
      background-image: url(../images/listline.png);
      background-repeat: no-repeat;
      background-position: center top;
      &:first-child{background-image: none;}
      img{
        margin-right:100px;
        float:left;
      }
      p{
        margin-top:50px;
        color:@fontcolor;
        font-size: 18px;
      }
      .details{
        width: 150px;
        height: 45px;
        border: 2px @mainred solid;
        border-radius: 10px;
        color:@mainred;
        font-size: 20px;
        margin-left:596px;
        text-align: center;
        line-height: 45px;
        position: absolute;
        bottom:50px;
        span{
          background-image: url(../images/r_arrow02.png);
          background-repeat: no-repeat;
          background-position: 5px center;
          padding:0 5px 0 25px;
        }
      }
    }
  }
}

}
