html{
  height: 100%;
}
body{
  height: 100%;
}
*{margin: 0; padding: 0;}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,p{font-family: 'Noto Sans CJK KR DemiLight',  cursive,sans-serif; margin:0; padding:0;}
li{
  list-style: none;
}
h2{
  font-size: 18px;
  color:@fontcolor;
}
p{
  color:@fontcolor;
}


.wrap{
  width:1920px;
}
header{
  .top{
    position:relative;
    width:1920px;
    height:107px;
    background-color: @header;
    background-image: none;
    img{
      float: left;
      margin-top: 21.972px;
      margin-left: 50px;
    }
    span{
      float: right;
      margin-top: 43.078px;
      margin-right: 48.58px;
      color: #6479ba;
   }
  }
  .headline{
    position: relative;
    height:5px;
    background-image: url(../images/gradation01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .menubar{
    position:relative;
    background-color: #fff;
    height:165px;
    div{
      display: inline-block;
      width: 206px;
      height: 46px;
      text-align: center;
      font-size: 22px;
      position:relative;
      top:35%;
      left:25%;
      margin-left:14px;
      span{
        line-height: 46px;
      }
    }
    div:nth-child(1){
      border: 2px @mainred solid;
      color: @mainred;
    }
    div:nth-child(2){
      border: 2px @mainorange solid;
      color: @mainorange;
    }
    div:nth-child(3){
      border: 2px @maingreen solid;
      color: @maingreen;
    }
    div:nth-child(4){
      border: 2px @mainviolet solid;
      color: @mainviolet;
    }
  }
  .searchbarbox{
    width:100%;
    height:120px;
    border:1px #f0f solid;
    background-color: #fff;
    .searchbar{
      text-align: center;
      margin-top:36px;
      .barbox{
        width: 180px;
        height: 42px;
        border: 2px @mainred solid;
        color:@mainred;
        font-size: 18px;
        display: inline-block;
        padding:0 20px 0 10px; //글씨가 못넘어오게 패딩주고 거기에 백그라운드 이미지
        background-image: url(../images/w_arrow01.png);
        background-position: right 10px center;
        background-repeat: no-repeat;
        text-align: left;
        line-height: 42px;
      }
      .searchbox{
        width: 136px;
        height: 42px;
        border: 2px @mainred solid;
        color:@mainred;
        font-size: 18px;
        display: inline-block;
        line-height: 42px;
        padding-right: 5px;
      }
      .location{
        background-image: url(../images/008-location.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        width:17px;
        height:26px;
        display: inline-block;
        margin-right: 10px;
      }
      .date{
        background-image: url(../images/006-calendar.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        width:24px;
        height:24px;
        display: inline-block;
        margin-right: 10px;
      }
      .guest{
        background-image: url(../images/007-users.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        width:25px;
        height:21px;
        display: inline-block;
        margin-right: 10px;
      }
      .house{
        background-image: url(../images/005-house.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        width:23px;
        height:22px;
        display: inline-block;
        margin-right: 10px;
      }
      .search{//140 44
        background-image: url(../images/004-search.png);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        width:20px;
        height:20px;
        display: inline-block;
        margin-right: 10px;
      }
    }
    .searchlist{
      position:relative;
      left:344px;
      top:2px;
      div{display: inline-block;}
      .locationlist{
        background-color: #fff;
        border:2px @mainred solid;
        width: 195px;
        height: 220px;
        padding-left:15px;
        color:@mainred;
        vertical-align: top;
        span{
          display: block;
          margin-top:8px;
          font-size: 18px;
        }
      }

      .datelist{
        background-color: #fff;
        border:2px @mainred solid;
        width:210px;
        height:198px;
        color:@mainred;
        vertical-align: top;
        table{
          margin:0 auto;
          width:180px;
          height:160px;
        }
        caption{
          span{
            display: block;
            margin:7px auto 5px ;
          }
          li{
            width:20px;
            height:20px;
            display: inline-block;
            margin:5px 0 0;
            position:absolute;

            &:nth-child(1){
              left:10px;
              top:4px;
              background-image: url(../images/w_arrowL.png);
              background-repeat: no-repeat;
              background-position: center;
            }
            &:last-child{
              right:10px;
              top:4px;
              background-image: url(../images/w_arrowR.png);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }

      .guestlist{
        background-color: #fff;
        border:2px @mainred solid;
        width:210px;
        height:180px;
        color:@mainred;
        vertical-align: top;
        span{
          display: block;
          font-size: 18px;
          margin:7px 0 0 15px;
        }
      }
      .typelist{
        background-color: #fff;
        border:2px @mainred solid;
        width:210px;
        height:145px;
        color:@mainred;
        vertical-align: top;
        span{
          display: block;
          font-size: 18px;
          margin:6px 0 0 15px;
        }
      }
      .searchboxlist{
        width:136px;
      }
    }
  }
}
.contents{
  .pic{
    position:relative;
    width: 1920px;
    height: 403px;
    border: 1px #000 solid;
    background-color: rgba(200, 0, 0, .1);
    span{
      position: absolute;
      top:233px;
      left:100px;
      width: 514px;
      height: 100px;
      color:@header;
      display: block;
    }
  }
}
.headline{
  position: relative;
  height:5px;
  background-image: url(../images/gradation01.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.bottom{
  height: 230px;
  background-color: @header;
  .lang{
    float:left;
    padding-top:50px;
    margin-left: 100px;
    div{
      width:222px;
      height:44px;
      border:1px #939597 solid;
      color: #939597;
      padding:0 20px 0 10px;
      background-image: url(../images/g_arrow.png);
      background-position: right 10px center;
      background-repeat: no-repeat;
      line-height: 44px;
      margin-bottom:5px;
    }
  }
  .notice{
    float:right;
    padding-right:100px;
    padding-top:50px;
    div{display: inline-block;}
  }
  .traveling{
    color: #939597;
    margin-right: 50px;
    span{
      display: block;
    }
    span:nth-child(1){
      font-weight: bold;
    }
  }
  .touch{
    color: #939597;
    span{
      display: block;
    }
    span:nth-child(1){
      font-weight: bold;
    }
  }
}
