.orderpage{
  .contents{
    .order{
      margin:0 auto;
      padding:50px 0;
      width: 1093px;
      height: 760px;
      border-bottom: 1px #bbbdc0 solid;
      text-align: center;
      .ordername{
        font-size: 30px;
        font-weight: bold;
        display: block;
        margin-bottom: 50px;
      }
      ul{
        width:1093px; border:1px #f00 solid;
        border-bottom: 1px #bbbdc0 solid;
        font-size: 20px;
        height:75px;
        li{
          border:1px #f00 solid;
          display: inline-block;
          &:nth-child(1){text-align: left;}
          &:last-child{text-align: right;}
        }
      }

    }
    .payment{
      margin:0 auto;
      padding:50px 0;
      width: 1093px;
      height: 1160px;
      text-align: center;
      span{font-size: 30px; font-weight: bold;}
    }
  }
}
