@media screen and (max-width:1300px) {

  .searchbar{
    width: 50% !important;
    margin:0 auto;
  }

}

.index{

.contents{
  position: relative;
  height:879px;
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .searchbar{
    text-align: center;
    padding-top: 416.5px;
    div{
      width:180px;
      display: inline-block;
      border:1px #fff solid;
      height:42px;
      position:relative;
      strong{
        //부모는 위드값이 있고 strong에는 없기때문에 패딩을 줘도 안늘어남
          padding:0 10px 0 45px;
          display: block;
          font-size: 18px;
          height:42px;
          line-height:42px;
          color:#fff;
          font-weight: normal;
          text-align: left;
          span{
            background-image: url(../images/w_arrow01.png);
            background-repeat: no-repeat;
            background-position: right 0 center;
            display: block;
          }
      }
      strong + ul{
          border:1px #fff solid;
          margin-top:2px;
          position:absolute;
          width:100%;
          text-align: left;
          display: none;
          li{
            height:42px;
            line-height:42px;
            padding: 0 20px;
            color:#fff;
            &:hover{
              background-color:rgba(255,0,0,0.1);
            }
          }
      }
      select{position: absolute; top:400px;}
    }
    .locationbox{
      strong{
        background-image: url(../images/008-location.png);
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 12%;
      }
    }
    .table{
      color:#fff;
      border:1px #fff solid;
      display: none;
    }
    .datebox{
      table{
        margin:0 auto;
        li{
          &:nth-child(1){
            float:left;
            border:1px #fff solid;
            margin-top:10px;
            width: 20px;
            height: 20px;
            background-image: url(../images/w_arrowL.png);
            background-repeat: no-repeat;
            background-position: center;
          }
          &:nth-child(2){
            float:right;
            border:1px #fff solid;
            margin-top:10px;
            width: 20px;
            height: 20px;
            background-image: url(../images/w_arrowR.png);
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .date{
          display: block;
          margin-top:5px;
        }
      }
      .checkin{
        background-image: url(../images/006-calendar.png);
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 15%;
      }
      .checkout{
        background-image: url(../images/006-calendar.png);
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 15%;
      }
    }

    .guestbox{
      strong{
        background-image: url(../images/007-users.png);
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 15%;
      }
    }
    .typebox{
      strong{
        background-image: url(../images/005-house.png);
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-size: 15%;
      }
    }
    .searchbox{
      width: 140px;
      padding:0 20px;
      background-image: url(../images/004-search.png);
      background-repeat: no-repeat;
      background-position: left 10px center;
      background-size: 15%;
      text-transform: uppercase;
      color:#fff;
      line-height: 42px;
      text-align: center;
    }
  }

}
.empty{
  position:relative;
  background-color: #fff;
  height:165px;
}

}
