

    [class^="icon-"]{
      /*icon으로 시작하는것은 모두*/
      background-image:url(sp_nwstd.png);
      background-position: -19px -19px;
      text-indent: -9999px;
      display: inline-block;
      /*display: inline-block은 쓰지 못할수도있다. a태그 그대로를 써야할 경우도 있기때문에*/
      /*a태그는 inline이라 width, height, text-indent가 먹지않기때문에 버튼이미지를 범용적으로 사용하기위해 display: inline-block을 해준다.*/
      vertical-align: top;
      /*vertical의 속성:
      top, middle, bottom -> inline-block, table sell의 경우
      baseline, text-top, text-bottom -> inline의 경우
      intiger*/
    }
    [class^="icon-"]::-moz-focus-inner {
      /*::2개를써도 :1개를 써도 돌아감. 1개를 쓰는걸 추천(2개는 하위브라우저에서 안돌아감 css3에서 나온규칙.)
      firefox에서 제대로 안나오기때문에 넣어줌*/
      padding:0;
      border:0;
    }
    .icon-big-arrowR{
      width: 21px;
      height: 43px;
    }
    .icon-big-arrowR:hover{
       background-position:-146px -19px;
   }
    .icon-big-arrowL{
      width: 21px;
      height: 43px;
      background-position: -83px -20px;
    }
    .icon-big-arrowL:hover{
       background-position:-210px -20px;
   }
   .btn-group{
     font-size: 0;
     /*inline-block이라 띄어쓰기 발생.여백 발생. -> font-size: 0으로 없애줌*/
   }
    .btn-group button{background-color: transparent;}
    .icon-small-prev{
      width:22px;
      height:22px;
      background-position: -485px -585px;
    }
    .icon-small-prev:hover{
      background-position: -535px -585px;
    }
    .icon-small-next{
      width:21px;
      height:22px;
      background-position: -511px -585px;
    }
    .icon-small-next:hover{
      background-position: -561px -585px;
    }


    .icon-big-mynews{
      width:87px;
      height:29px;
      background-position: -1px -116px;
    }
    .icon-big-mynews.active{ /*active또는 on을 많이 쓴다.*/
      background-position: -1px -150px;
    }
    .icon-big-allpress{
      width:86px;
      height:29px;
      background-position: -88px -116px;
    }
    .icon-big-allpress.active{
      background-position: -89px -150px;
    }

    .category li{
      float:left;
    }
    .category .icon-mainpress{
      width: 67px;
      height: 11px;
      background-position: -96px -258px;
    }
    .category .icon-mainpress:hover{
      background-position: -185px -258px;
    }
    .category .icon-total{
      width: 66px;
      height: 11px;
      background-position: -92px -284px;
    }
    .category .icon-total:hover{
      background-position: -181px -284px;
    }
