/* line 42, assets/less/import.less */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}
/* line 49, assets/less/import.less */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 55, assets/less/import.less */
a {
  text-decoration: none;
  color: #000;
}
/* line 60, assets/less/import.less */
address {
  font-style: normal;
}
/* line 64, assets/less/import.less */
.link_btn {
  box-sizing: border-box;
  border-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
/* line 66, assets/less/import.less */
.link_btn.main-red {
  border-color: #ef5050 !important;
  color: #ef5050 !important;
}
/* line 70, assets/less/import.less */
.link_btn.main-orange {
  border-color: #f5b250 !important;
  color: #f5b250 !important;
}
/* line 74, assets/less/import.less */
.link_btn.main-green {
  border-color: #79c266 !important;
  color: #79c266 !important;
}
/* line 79, assets/less/import.less */
.link_btn.main-violet {
  border-color: #a764a8 !important;
  color: #a764a8 !important;
}
/* line 83, assets/less/import.less */
.link_btn.main-base {
  border-color: #666 !important;
  color: #666 !important;
}
/* line 90, assets/less/import.less */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 98, assets/less/import.less */
.select_Design {
  height: 50px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #FFF;
  border-style: solid;
}
/* line 102, assets/less/import.less */
.select_Design strong {
  padding: 0 20px;
}
/* line 105, assets/less/import.less */
.select_Design select {
  position: absolute;
  left: -9999px;
  top: -99999px;
}
/* line 110, assets/less/import.less */
.select_Design .selet_list {
  margin-top: 2px;
  border: 1px #FFF solid;
  display: none;
}
/* line 116, assets/less/import.less */
.select_Design a {
  padding: 0 20px;
  color: #FFF;
  display: block;
}
/* line 123, assets/less/import.less */
.gnb {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
/* line 129, assets/less/import.less */
.gnb .top {
  height: 107px;
  padding-bottom: 5px;
  background-image: url(../images/gradation01.png);
  background-position: center bottom;
  background-color: #FFF;
  background-repeat: repeat-x;
}
/* line 138, assets/less/import.less */
.gnb .menu {
  height: 160px;
  background-color: #FFF;
}
/* line 141, assets/less/import.less */
.gnb .menu .wrapper {
  height: 100%;
}
/* line 144, assets/less/import.less */
.gnb .menu ul {
  font-size: 0;
  text-align: center;
  height: 100%;
}
/* line 148, assets/less/import.less */
.gnb .menu ul::before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
/* line 154, assets/less/import.less */
.gnb .menu ul li {
  display: inline-block;
  font-size: initial;
  margin: 0 1px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
/* line 161, assets/less/import.less */
.gnb .menu ul li a {
  display: block;
  width: 210px;
  height: 50px;
  line-height: 50px;
  transition: .3s;
}
/* line 167, assets/less/import.less */
.gnb .menu ul li a.main-red {
  color: #ef5050;
}
/* line 168, assets/less/import.less */
.gnb .menu ul li a.main-orange {
  color: #f5b250;
}
/* line 169, assets/less/import.less */
.gnb .menu ul li a.main-green {
  color: #79c266;
}
/* line 170, assets/less/import.less */
.gnb .menu ul li a.main-violet {
  color: #a764a8;
}
@media screen and (max-width: 1024px) {
  /* line 180, assets/less/import.less */
  .gnb .menu ul li a {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  /* line 188, assets/less/import.less */
  .gnb .menu {
    height: auto;
  }
  /* line 190, assets/less/import.less */
  .gnb .menu ul {
    padding: 30px 0;
  }
  /* line 192, assets/less/import.less */
  .gnb .menu ul::before {
    content: none;
  }
  /* line 195, assets/less/import.less */
  .gnb .menu ul li {
    line-height: 100%;
  }
  /* line 197, assets/less/import.less */
  .gnb .menu ul li a {
    width: 256px;
  }
}
/* line 208, assets/less/import.less */
.intro {
  height: 100%;
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 1px transparent solid;
}
/* line 216, assets/less/import.less */
.intro .seach_box {
  color: #FFF;
  margin-top: 372px;
  font-size: 0;
  text-align: center;
}
/* line 222, assets/less/import.less */
.intro .seach_box [type="submit"] {
  background-color: transparent;
  color: #FFF;
  text-align: center !important;
  text-transform: uppercase;
  border: 1px #FFF solid !important;
}
/* line 229, assets/less/import.less */
.intro .seach_box [class^="select_"] {
  text-align: left;
  width: 210px;
  height: 50px;
  margin: 0 2px;
  line-height: 50px;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 0;
}
/* line 241, assets/less/import.less */
.intro .seach_box [class^="select_"] strong {
  border: 1px #FFF solid;
  display: block;
  padding: 0 20px;
  cursor: pointer;
}
/* line 255, assets/less/import.less */
.footer {
  padding: 30px 20px;
  height: 170px;
  background-color: #f9f7f7;
}
/* line 261, assets/less/import.less */
.footer .site-option {
  float: left;
}
/* line 263, assets/less/import.less */
.footer .site-option ul li {
  width: 210px;
}
/* line 267, assets/less/import.less */
.footer .site-menu {
  float: right;
}
/* line 270, assets/less/import.less */
.footer address {
  margin-left: 20px;
  float: right;
}
/* line 273, assets/less/import.less */
.footer address span {
  display: block;
}
/* line 280, assets/less/import.less */
.footer .select_Design {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}
@media screen and (max-width: 480px) {
  /* line 293, assets/less/import.less */
  .footer .site-option ul {
    margin-bottom: 10px;
  }
  /* line 297, assets/less/import.less */
  .footer .site-option ul:after {
    clear: both;
  }
  /* line 301, assets/less/import.less */
  .footer .site-option ul li {
    float: left;
    width: 50%;
  }
}
